.ticket-management {
  display: grid;
  grid-template: auto auto 1fr / 1fr;
  height: 100%;
  gap: 16px;
}

.ticket-management_groups {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 100%;
  overflow-y: auto;
  gap: 16px;
}

.ticket-group {
  overflow-y: auto;
  padding-right: 8px;
  scrollbar-width: thin;
}
